---

---

<section
  class="grid container_watching_reviews m-auto justify-items-center sm:p-4 p-2"
>
  <div class="w-full flex items-center gap-2 p-2 border_color_left ml-10">
    <h1 class="text-white font-bold text-2xl capitalize">REVIEWS</h1>
  </div>
  <div class="w-12/12 flex flex-col gap-4 col-start-1 md:p-0 p-3 listaItem">
    <article
      class="w-full relative text-white flex gap-5 justify-end card_item"
      draggable="true"
    >
      <figure class="absolute top-1 left-2 z-20">
        <img
          src="https://i.ibb.co/1zCHDnz/Bg-YUKA-TAKINAMI.webp"
          alt=""
          class="rounded-full mg:h-14 h-10 mg:w-14 w-10 img_avatar"
        />
      </figure>
      <div
        class="reviews rounded-lg md:w-[88%] w-10/12 p-3 flex flex-wrap gap-3"
      >
        <h1 class="flex justify-center items-center text-lg font-bold">
          Rane Yeas <span class="text-slate-300 text-sm">- 1 Minute ago </span>
        </h1>

        <p class="text-slate-300">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
          sunt repellendus deserunt facilis. LOL
        </p>
      </div>
    </article>
    <article
      class="w-full relative text-white flex gap-5 justify-end card_item"
      draggable="true"
    >
      <figure class="absolute top-1 left-2 z-20">
        <img
          src="https://i.ibb.co/1zCHDnz/Bg-YUKA-TAKINAMI.webp"
          alt=""
          class="rounded-full mg:h-14 h-10 mg:w-14 w-10"
        />
      </figure>
      <div
        class="reviews rounded-lg md:w-[88%] w-10/12 p-3 flex flex-wrap gap-3"
      >
        <h1 class="flex justify-center items-center text-lg font-bold">
          Rane Yeas <span class="text-slate-300 text-sm">- 5 Minute ago </span>
        </h1>

        <p class="text-slate-300">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
          sunt repellendus deserunt facilis. LOL
        </p>
      </div>
    </article>
    <article
      class="w-full relative text-white flex gap-5 justify-end card_item"
      draggable="true"
    >
      <figure class="absolute top-1 left-2 z-20">
        <img
          src="https://i.ibb.co/1zCHDnz/Bg-YUKA-TAKINAMI.webp"
          alt=""
          class="rounded-full mg:h-14 h-10 mg:w-14 w-10"
        />
      </figure>
      <div
        class="reviews rounded-lg md:w-[88%] w-10/12 p-3 flex flex-wrap gap-3"
      >
        <h1 class="flex justify-center items-center text-lg font-bold">
          Rane Yeas <span class="text-slate-300 text-sm">- 3 Minute ago </span>
        </h1>

        <p class="text-slate-300">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
          sunt repellendus deserunt facilis. LOL
        </p>
      </div>
    </article>
    <!-- <YourComment /> -->
  </div>
</section>

<script>
  const lista = document.querySelector(".listaItem") as HTMLElement;
  const items = lista.querySelectorAll(".card_item") as NodeListOf<HTMLElement>;

  items.forEach((item) => {
    item.addEventListener("dragstart", () => {
      setTimeout(() => item.classList.add("dragging"), 0);
    });

    item.addEventListener("dragend", () => item.classList.remove("dragging"));
  });

  const initSortableList = (e) => {
    e.preventDefault();
    const draggingItem = document.querySelector(".dragging") as HTMLElement;

    let siblings = [
      ...(lista.querySelectorAll(
        ".card_item:not(.dragging)"
      ) as NodeListOf<HTMLElement>),
    ];

    let nextSibling = siblings.find((sibling) => {
      return e.clientY <= sibling.offsetTop + sibling.offsetHeight / 2;
    });

    lista.insertBefore(draggingItem, nextSibling as Node);
  };

  lista.addEventListener("dragover", initSortableList);
  lista.addEventListener("dragenter", (e) => e.preventDefault());
</script>

<style>
  .container_watching_reviews {
    grid-template-columns: 70% 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
  }

  .reviews {
    background: #1d1e39;
  }

  .card_item.dragging {
    opacity: 0.6;
  }

  @media (max-width: 768px) {
    .container_watching_reviews {
      grid-template-columns: 1fr;
    }
  }
</style>
