---
const fecha = new Date();
const anio = fecha.getFullYear();
---

<footer class="relative md:mt-36 mt-32 px-4 pt-5 w-full">
  <a
    href="#header_id"
    class="footer_img absolute -top-10 left-1/2 h-14 w-14 -translate-x-1/2 rounded-full bg-white p-2 flex justify-center items-center"
  >
    <i class="fa-solid fa-arrow-up text-white text-3xl"></i>
  </a>
  <nav
    aria-label="Footer Navigation"
    class="mx-auto mb-10 flex w-6/12 justify-evenly flex-col gap-10 text-center sm:flex-row sm:text-left"
  >
    <a href="#" class="font-medium text-white">Anime</a>
    <a href="#" class="font-medium text-white">Manga</a>
    <a href="#" class="font-medium text-white">Foro</a>
  </nav>
  <p class="py-10 text-center text-gray-300">
    © {anio} AnimeSphere | All Rights Reserved
  </p>
</footer>

<style>
  footer {
    background: #070720;
  }

  .footer_img {
    background: #dd0f62;
  }
</style>
